<h2>Editando mis datos de <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email , "Correo" , class: "label-dark", style: "display: block" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %> <br>

  <div class="field">
    <%= f.label :password, "Clave" , class: "label-dark", style: "display: block" %> <i></i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> carácteres mínimo </em>
    <% end %>
  </div> <br>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar contraseña" , class: "label-dark", style: "display: block" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "Clave actual" , class: "label-dark", style: "display: block" %> <i>(Necesitamos su contraseña actual para confirmar sus cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :name, "Nombre" , class: "label-dark", style: "display: block" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :profile, "Imagen de perfil" , class: "label-dark", style: "display: block" %><br />
    <%= f.file_field :profile, autofocus: true, autocomplete: "profile" %>
  </div> <br>

  <div class="actions">
    <%= f.submit "Actualizar cambios", class: "btn btn-warning" %> <br> <br>
  </div>
<% end %>
