<%= form_with(model: publication) do |form| %>
  <% if publication.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibido guardar esta publicación:</h2>

      <ul>
        <% publication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "Título", class: "label-dark", style: "display: block" %>
    <%= form.text_field :title %> <br>
  </div>

  <div>
    <%= form.label :description, "Descripción", class: "label-dark", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.file_field :images, multiple: true, style: "width: 200px; height: 200px;" %>
  </div>

  <div>
    <%= form.submit "Actualizar Publicación", class: "btn btn-warning" %> <br> <br>
  </div>
<% end %>
