<div id="<%= dom_id publication %>">
  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= publication.user.email %>
  </p>

  <% publication.images.each do |img| %>
    <%= image_tag img %>
  <% end %>

</div>
