<div id="<%= dom_id publication %>">
  <div class="texto1">
    <p class="bold-text">
      <%= publication.title %>
    </p>

    <p>
      <%= publication.description %>
    </p>

    <p class="bold-text">
      <%= publication.user.name %>
    </p>

    <% publication.images.each do |img| %>
      <%= image_tag img, style: "width: 400px; height: 400px;" %>
    <% end %>
  </div>

</div>

