<p style="color: green"><%= notice %></p>

<%= render @publication %>

<div>

  <% if user_signed_in? %>

    <% if current_user.id == @publication.user_id %> <br> <br>
      <%= link_to "Editar esta pubicaci칩n", edit_publication_path(@publication) , class:"btn btn-primary" %> <br> <br>
      <%= button_to "Eliminar esta publicaci칩n", @publication, method: :delete , class:"btn btn-danger" %>
    <% end %>

  <% end %> <br>

  <%= link_to "Volver a las publicaciones", publications_path, class:"btn btn-dark" %> <br> <br>
</div>

<div class="comments-section">
  <h2> Reflexiones </h2> <br>

  <% if @comments.any? %>
  <div class="card-deck">
    <% @comments.each do |comment| %>
      <div class="card">
        <div class="card-body d-flex">
          <div class="ml-4 mr-4">
            <%= image_tag current_user.profile, class: "mypfp rounded-circle mr-3 my-auto mb-5", style: "max-width: 100px; max-height: 100px;" %>
          </div>
          <div class="ml-5 mr-5">
            <h5 class="card-title"><strong>Usuario:</strong> <%= comment.user.name %></h5>
            <p class="card-text"><strong>Comentario:</strong> <%= comment.content %></p>
            
            <% if user_signed_in? && current_user.id == comment.user_id %>
              <%= link_to "Editar comentario", edit_comment_path(comment), class: "btn btn-primary" %> <br> <br>
              <%= button_to "Eliminar comentario", comment, method: :delete, class: "btn btn-danger ml-2" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No hay comentarios para esta publicaci칩n.</p>
<% end %>

<br>
  <h2>A침adir un comentario</h2>

  <%= form_with(model: @comment, url: publication_comments_path(@publication)) do |form| %>
  <div class="form-group">
    <%= form.label :content, "MeowMentarios " %>
    <%= form.text_area :content, class: "form-control" %> <br>
  </div>
  <%= form.submit "Enviar comentario", class: "btn btn-warning" %> <br> <br>
  <% end %>
</div>
</div>

